
<header class="header-admin">
  <div class="header-admin-content">
  <div class="logo">
    <a href="/">
      <img src="/assets/logo-admin.png" alt="Logo Foodfy" />
    </a>
  </div>
   <nav>
    <ul>
      <li><a href="/admin/recipes">Receitas</a></li>
      <li><a href="/admin/chefs">Chefs</a></li>
    </ul>
  </nav>
  </div>
</header>           