
<header>
  <div class="logo">
    <a href="/">
      <img src="/assets/logo.png" alt="Logo Foodfy" />
    </a>
  </div>
   <nav>
    <ul>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/recipes">Receitas</a></li>
      <li><a href="/chefs">Chefs</a></li>
    </ul>
  </nav>
</header>           